[submodule "engine/libs/imgui/imgui"]
	path = engine/libs/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "engine/libs/fmt"]
	path = engine/libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "engine/libs/glfw"]
	path = engine/libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/libs/glm"]
	path = engine/libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/libs/entt"]
	path = engine/libs/entt
	url = https://github.com/skypjack/entt.git
[submodule "engine/libs/stb"]
	path = engine/libs/stb
	url = https://github.com/nothings/stb.git
